<div class='container'>
  Sign-up Page

<form method='post' action='/signup'>
<input type='text' placeholder='username' name='username'>
<input type='text' placeholder='password' name='password'>
<input type='submit' value='submit'>
</form>


</div>
